{{ define "log_list" }}

{{ $vehicle := . }}
{{ $logEntries := $vehicle.LogEntries }}

<div>
  <div class="mb-4 border-b-2 border-neutral-900 pb-2 font-['Playfair_Display',serif] text-2xl uppercase dark:border-stone-600 dark:text-amber-50">Registros</div>

  <div id="log-entries-list-{{ $vehicle.ID }}" class="flex flex-col gap-3">
    {{ if $logEntries }}
      {{ range $logEntries }}
        {{ template "log_list_item" . }}
      {{ end }}
    {{ else }}
      {{ template "log_list_empty" $vehicle }}
    {{ end }}
  </div>

  {{ template "log_entry_amount_text" $vehicle }}
</div>

{{ end }}
