{{ define "log_entry_type_options" }}
<option value="maintenance">Manutenção</option>
<option value="fuel">Combustível</option>
<option value="expense">Despesa</option>
<option value="insurance">Seguro</option>
<option value="tax">Imposto</option>
<option value="fine">Multa</option>
<option value="parking">Estacionamento</option>
<option value="cleaning">Lavagem</option>
<option value="toll">Pedágio</option>
<option value="accessory">Acessório</option>
<option value="other">Outro</option>
{{ end }}
