@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: "Playfair Display", serif;

    @keyframes open-rule {
        from {
            width: 0;
            opacity: 0;
        }

        to {
            width: 100%;
            opacity: 1;
        }
    }

    @keyframes letter-appear {
        0% {
            opacity: 0;

            transform: translateY(-25px) scale(1.2);

            filter: blur(8px);
        }

        70% {
            transform: translateY(3px) scale(0.98);
        }

        100% {
            opacity: 1;

            transform: translateY(0) scale(1);

            filter: blur(0);
        }
    }

    @keyframes subtitle-appear {
        from {
            opacity: 0;

            transform: translateY(10px);
        }

        to {
            opacity: 1;

            transform: translateY(0);
        }
    }

    @keyframes paper-drop {
        from {
            opacity: 0;

            transform: translateY(30px) rotate(-2deg);

            filter: blur(4px);
        }

        to {
            opacity: 1;

            transform: translateY(0) rotate(0);

            filter: blur(0);
        }
    }

    @keyframes card-appear {
        from {
            opacity: 0;
            transform: translateY(30px) rotate(-2deg);
            filter: blur(4px);
        }

        to {
            opacity: 1;
            transform: translateY(0) rotate(0);
            filter: blur(0);
        }
    }
}
