{{ define "base_page" }}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tailwind -->
    <link rel="stylesheet" href="/static/css/output.css" />

    <!-- Alpine -->
    <script defer src="/static/js/alpinejs@3.15.12.min.js"></script>

    <!-- Turbo -->
    <script src="/static/js/turbo.es2017-umd.js"></script>

    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>

    <title>Autolog</title>
  </head>

  <body class="bg-white text-gray-900">
    <div class="max-w-7xl mx-auto px-6 py-10">
        {{ block "content" . }}
        {{ end }}
    </div>

 </body>
</html>
{{ end }}
