{{ define "car_silhouette" }}
<div class="flex w-[36%] min-w-[240px] shrink-0 items-center justify-center max-[1000px]:w-full max-[1000px]:min-w-0 max-[1000px]:justify-start">
    <div
        class="relative h-[90px] w-[340px] max-w-full border-[3px] border-[#f2f2f2] bg-[#2c2f36] -skew-x-[18deg] -rotate-3 shadow-[8px_8px_0_#000] [clip-path:polygon(0%_100%,8%_55%,22%_45%,36%_18%,68%_12%,84%_34%,100%_45%,100%_100%)] before:absolute before:top-[22px] before:left-24 before:h-6 before:w-[120px] before:-skew-x-[28deg] before:bg-[#f2f2f2] before:content-[''] after:absolute after:right-[30px] after:bottom-[18px] after:left-[30px] after:h-2.5 after:bg-gradient-to-r after:from-[#ff5f2e] after:via-[#ffb84d] after:to-[#3d6fff] after:content-[''] max-[700px]:w-[260px]"
        aria-hidden="true"
    >
        <div class="absolute -bottom-7 left-[42px] size-[58px] rounded-full border-[3px] border-[#f2f2f2] bg-black before:absolute before:inset-3 before:rounded-full before:bg-[#171717] before:content-['']"></div>
        <div class="absolute -bottom-7 right-[42px] size-[58px] rounded-full border-[3px] border-[#f2f2f2] bg-black before:absolute before:inset-3 before:rounded-full before:bg-[#171717] before:content-['']"></div>
    </div>
</div>
{{ end }}
