{{ define "add_log_entry_list_item_response" }}

{{ $logEntry := .LogEntry }}

{{ $totalCost := .TotalCost }}

{{ $vehicleId := .VehicleID }}

{{ $logEntryCount := .LogEntryCount }}

<turbo-stream action="append" target="log-entries-list-{{ $vehicleId }}">
    <template>
        {{ template "log_entry_list_item" $logEntry }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="total-cost-{{ $vehicleId }}">
    <template>
        total: {{ FmtCurrency $totalCost }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="vehicle-log-entry-count-{{ $vehicleId }}">
    <template>
        {{ template "vehicle_log_entry_count_text" $logEntryCount }}
    </template>
</turbo-stream>

{{ end }}
