{{ define "add_maintenance_list_item_response" }}

{{ $maintenance := .Maintenance }}

{{ $totalCost := .TotalCost }}

{{ $carId := .CarID }}

{{ $maintenanceCount := .MaintenanceCount }}

<turbo-stream action="append" target="maintenances-list-{{ $carId }}">
    <template>
        {{ template "maintenance_list_item" $maintenance }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="total-cost-{{ $carId }}">
    <template>
        total: {{ FmtCurrency $totalCost }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="car-maintenance-count-{{ $carId }}">
    <template>
        {{ template "car_maintenance_count_text" $maintenanceCount }}
    </template>
</turbo-stream>

{{ end }}
