{{ define "delete_log_entry_list_item_response" }}

{{ $totalCost := .TotalCost }}

{{ $vehicleId := .VehicleID }}

{{ $logEntryCount := .LogEntryCount }}

<turbo-stream action="remove" target="log-entries-list-item-{{ .LogEntry.ID }}">
</turbo-stream>

<turbo-stream action="update" target="total-cost-{{ $vehicleId }}">
    <template>
        total: {{ FmtCurrency $totalCost }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="vehicle-log-entry-count-{{ $vehicleId }}">
    <template>
        {{ template "vehicle_log_entry_count_text" $logEntryCount }}
    </template>
</turbo-stream>

{{ end }}
