{{ define "delete_log_entry_list_item_response" }}

<turbo-stream action="remove" target="log-entries-list-item-{{ .LogEntry.ID }}">
</turbo-stream>

<turbo-stream action="update" target="total-cost-{{ .LogEntry.VehicleID }}">
    <template>
        total: {{ FmtCurrency .TotalCost }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="vehicle-log-entry-count-{{ .LogEntry.VehicleID }}">
    <template>
        {{ template "vehicle_log_entry_count_text" .LogEntryCount }}
    </template>
</turbo-stream>

{{ end }}
