{{ define "edit_maintenance_list_item_response" }}

{{ $maintenance := .Maintenance }}

{{ $totalCost := .TotalCost }}

{{ $carId := .CarID }}

<turbo-stream action="replace" target="maintenances-list-item-{{ $maintenance.ID }}">
    <template>
        {{ template "maintenance_list_item" $maintenance }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="total-cost-{{ $carId }}">
    <template>
        Total: {{ FmtCurrency $totalCost }}
    </template>
</turbo-stream>

{{ end }}
